# Set Environment

In [1]:
# libraries
import numpy as np
import pandas as pd
from collections import Counter
pd.options.display.max_columns = None
pd.options.display.max_rows = 300

In [2]:
#Define variables
Y_lab = 'good' # col name of Y (PD)
rs = 2020 #random state
col_sep = ':'

In [3]:
# Import Train and Test Data.
old_data = pd.read_csv('processed_data/train_set.csv', index_col = 0) # no need to have Y when do PSI analysis
# Import new data
new_data = pd.read_csv('original_data/loan_data_2015.csv', index_col = 0)

#dummies
parent_col = pd.read_csv('processed_data/dummy_parent_name.csv')['column'].to_list()
dummy_names = pd.read_csv('processed_data/pd_feature.csv')['feature'].to_list()

#score card
score_card = pd.read_csv('model_result/score_card.csv',index_col= 0)

/Users/warren/opt/anaconda3/envs/credit_risk/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (19,55) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# general quick view

In [4]:
new_data.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
68444620,73334399,35000,35000,35000.0,60 months,11.99,778.38,C,C1,Foreign Service Officer,10+ years,MORTGAGE,128000.0,Source Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,home_improvement,Home improvement,200xx,DC,6.46,0.0,Feb-90,0.0,46.0,NaN,17.0,0.0,14277,27.4,46.0,w,35000.0,35000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Jan-16,0.0,56.0,1,INDIVIDUAL,NaN,NaN,NaN,0.0,321.0,146867.0,1.0,11.0,0.0,0.0,28.0,35367.0,49.3,0.0,1.0,5020.0,40.1,52200.0,1.0,4.0,0.0
68547583,73437441,8650,8650,8650.0,36 months,5.32,260.50,A,A1,Associate Consultant,< 1 year,MORTGAGE,100000.0,Not Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit card refinancing,462xx,IN,7.28,0.0,Jul-01,0.0,NaN,NaN,15.0,0.0,7158,26.7,24.0,w,8650.0,8650.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,165450.0,0.0,1.0,1.0,1.0,11.0,24041.0,88.8,0.0,3.0,3081.0,57.9,26800.0,1.0,0.0,5.0
67849662,72708407,4225,4225,4225.0,36 months,14.85,146.16,C,C5,mechanic,5 years,RENT,35000.0,Source Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,672xx,KS,15.22,2.0,Jul-11,0.0,18.0,NaN,6.0,0.0,1058,24.6,6.0,w,4225.0,4225.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,4888.0,0.0,1.0,0.0,0.0,47.0,3830.0,21.9,0.0,0.0,367.0,22.4,4300.0,0.0,0.0,0.0
68506885,73396712,10000,10000,10000.0,60 months,11.99,222.40,C,C1,CARDIOVASCULAR TECH,10+ years,RENT,42500.0,Not Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,460xx,IN,31.04,0.0,Dec-98,1.0,NaN,NaN,10.0,0.0,5812,40.9,23.0,w,10000.0,10000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,41166.0,1.0,3.0,0.0,2.0,13.0,35354.0,75.5,1.0,1.0,3118.0,67.4,14200.0,1.0,1.0,1.0
68341763,72928789,20000,20000,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-00,0.0,NaN,NaN,6.0,0.0,7869,56.2,18.0,w,20000.0,20000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Dec-15,0.0,NaN,1,JOINT,71000.0,13.85,Not Verified,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,72.8,0.0,2.0,2081.0,64.7,14000.0,2.0,5.0,1.0

In [5]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421094 entries, 68444620 to 36271262
Data columns (total 73 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   member_id                    421094 non-null  int64
 1   loan_amnt                    421094 non-null  int64
 2   funded_amnt                  421094 non-null  int64
 3   funded_amnt_inv              421094 non-null  float64
 4   term                         421094 non-null  object
 5   int_rate                     421094 non-null  float64
 6   installment                  421094 non-null  float64
 7   grade                        421094 non-null  object
 8   sub_grade                    421094 non-null  object
 9   emp_title                    397220 non-null  object
 10  emp_length                   397277 non-null  object
 11  home_ownership               421094 non-null  object
 12  annual_inc                   421094 non-null  float64
 13  verification_status          421094 non-null  object
 14  issue_d                      421094 non-null  object
 15  loan_status                  421094 non-null  object
 16  pymnt_plan                   421094 non-null  object
 17  url                          421094 non-null  object
 18  desc                         45 non-null      object
 19  purpose                      421094 non-null  object
 20  title                        420962 non-null  object
 21  zip_code                     421094 non-null  object
 22  addr_state                   421094 non-null  object
 23  dti                          421094 non-null  float64
 24  delinq_2yrs                  421094 non-null  float64
 25  earliest_cr_line             421094 non-null  object
 26  inq_last_6mths               421094 non-null  float64
 27  mths_since_last_delinq       217133 non-null  float64
 28  mths_since_last_record       74415 non-null   float64
 29  open_acc                     421094 non-null  float64
 30  pub_rec                      421094 non-null  float64
 31  revol_bal                    421094 non-null  int64
 32  revol_util                   420932 non-null  float64
 33  total_acc                    421094 non-null  float64
 34  initial_list_status          421094 non-null  object
 35  out_prncp                    421094 non-null  float64
 36  out_prncp_inv                421094 non-null  float64
 37  total_pymnt                  421094 non-null  float64
 38  total_pymnt_inv              421094 non-null  float64
 39  total_rec_prncp              421094 non-null  float64
 40  total_rec_int                421094 non-null  float64
 41  total_rec_late_fee           421094 non-null  float64
 42  recoveries                   421094 non-null  float64
 43  collection_recovery_fee      421094 non-null  float64
 44  last_pymnt_d                 403811 non-null  object
 45  last_pymnt_amnt              421094 non-null  float64
 46  next_pymnt_d                 395337 non-null  object
 47  last_credit_pull_d           421083 non-null  object
 48  collections_12_mths_ex_med   421094 non-null  float64
 49  mths_since_last_major_derog  122729 non-null  float64
 50  policy_code                  421094 non-null  int64
 51  application_type             421094 non-null  object
 52  annual_inc_joint             511 non-null     float64
 53  dti_joint                    509 non-null     float64
 54  verification_status_joint    511 non-null     object
 55  acc_now_delinq               421094 non-null  float64
 56  tot_coll_amt                 421094 non-null  float64
 57  tot_cur_bal                  421094 non-null  float64
 58  open_acc_6m                  21372 non-null   float64
 59  open_il_6m                   21372 non-null   float64
 60  open_il_12m                  21372 non-null   float64
 61  open_il_24m                  21372 non-null   float64
 62  mths_since_rcnt_il           20810 non-null   float64
 63  total_bal_il                 21372 non-null   float64
 64  il_util                      18617 non-null   float64
 65  open_rv_12m                  21372 non-null   float64
 66  open_rv_24m                  21372 non-null   float64
 67  max_bal_bc                   21372 non-null   float64
 68  all_util                     21372 non-null   float64
 69  total_rev_hi_lim             421094 non-null  float64
 70  inq_fi                       21372 non-null   float64
 71  total_cu_tl                  21372 non-null   float64
 72  inq_last_12m                 21372 non-null   float64
dtypes: float64(45), int64(5), object(23)
memory usage: 237.7+ MB

# Preprocessing

## Cleaning

### emp_length

In [6]:
col = 'emp_length'
Counter(new_data[col]).most_common()

[('10+ years', 141520),
 ('2 years', 37497),
 ('< 1 year', 34340),
 ('3 years', 33430),
 ('1 year', 27473),
 ('5 years', 24930),
 ('4 years', 24506),
 (nan, 23817),
 ('8 years', 21560),
 ('7 years', 18414),
 ('6 years', 16838),
 ('9 years', 16769)]

In [7]:
col = col+'_int'
new_data[col] = new_data['emp_length'].str.replace('\+ years', '')
new_data[col] = new_data[col].str.replace('< 1 year', str(0))
new_data[col] = new_data[col].str.replace(' years', '')
new_data[col] = new_data[col].str.replace(' year', '')
new_data[col] = new_data[col].str.replace('n/a', '0')
new_data[col] = np.where(new_data[col].isna(), '0', new_data[col])

new_data[col] = pd.to_numeric(new_data[col])
Counter(new_data[col]).most_common()

[(10, 141520),
 (0, 58157),
 (2, 37497),
 (3, 33430),
 (1, 27473),
 (5, 24930),
 (4, 24506),
 (8, 21560),
 (7, 18414),
 (6, 16838),
 (9, 16769)]

### earliest_cr_line

In [8]:
col ='earliest_cr_line'
count = Counter(new_data[col]).most_common()
len(count)
#count

668

In [9]:
# to date time
new_data[col+'_date'] = pd.to_datetime(new_data[col], format = '%b-%y')
new_data[col+'_date']

id
68444620   1990-02-01
68547583   2001-07-01
67849662   2011-07-01
68506885   1998-12-01
68341763   2000-08-01
              ...
36371250   2004-09-01
36441262   1974-03-01
36271333   2003-09-01
36490806   2003-10-01
36271262   2001-12-01
Name: earliest_cr_line_date, Length: 421094, dtype: datetime64[ns]

In [10]:
# Assume we are now in December 2017, get monthes from now
new_data['mths_since_earliest_cr_line'] = round(
    pd.to_numeric(
        (pd.to_datetime('2018-12-01') - new_data[col+'_date'] ) / np.timedelta64(1, 'M')
    ))

In [11]:
new_data['mths_since_earliest_cr_line'].describe()

count    421094.000000
mean        239.354876
std          98.123989
min        -600.000000
25%         179.000000
50%         224.000000
75%         289.000000
max         599.000000
Name: mths_since_earliest_cr_line, dtype: float64

In [12]:
# there are some negative value, see what happen
new_data[[col, col+'_date']][new_data['mths_since_earliest_cr_line']<0]
# they are date in 2060 sth
# we here assume they are 1960 sth, and use the maximum months from now

         earliest_cr_line earliest_cr_line_date
id
68406292           Jan-57            2057-01-01
68506307           Aug-64            2064-08-01
68466525           Jul-68            2068-07-01
67858278           Jan-65            2065-01-01
68595008           Sep-64            2064-09-01
...                   ...                   ...
38018510           Jun-68            2068-06-01
37801699           Jan-66            2066-01-01
37691363           Sep-68            2068-09-01
37800901           Sep-65            2065-09-01
37600541           Apr-63            2063-04-01

[1134 rows x 2 columns]

In [13]:
new_data['mths_since_earliest_cr_line'][
    new_data['mths_since_earliest_cr_line']<0] = new_data['mths_since_earliest_cr_line'].max()

<ipython-input-13-e87a85f57c9f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['mths_since_earliest_cr_line'][

In [14]:
new_data['mths_since_earliest_cr_line'].describe()

count    421094.000000
mean        242.471220
std          90.827636
min          73.000000
25%         180.000000
50%         224.000000
75%         290.000000
max         599.000000
Name: mths_since_earliest_cr_line, dtype: float64

### new_data

In [15]:
new_data['issue_d_date'] = pd.to_datetime(new_data['issue_d'], format = '%b-%y')
new_data['mths_since_issue_d'] = round(pd.to_numeric((pd.to_datetime('2018-12-01') - new_data['issue_d_date']) / np.timedelta64(1, 'M')))
new_data['mths_since_issue_d'].describe()

count    421094.000000
mean         41.044629
std           3.458162
min          36.000000
25%          38.000000
50%          41.000000
75%          44.000000
max          47.000000
Name: mths_since_issue_d, dtype: float64

### term

In [16]:
col = 'term'
Counter(new_data[col])

Counter({' 60 months': 137922, ' 36 months': 283172})

In [17]:
new_data[col+'_int'] = new_data[col].str.replace(' months', '')
new_data[col+'_int'] = new_data[col+'_int'].str.replace(' ','')
new_data[col+'_int'] = pd.to_numeric(new_data[col+'_int'])

print(
    new_data[col+'_int'].describe(),'\n\n',
    Counter(new_data[col+'_int'])
)

count    421094.000000
mean         43.860782
std          11.263533
min          36.000000
25%          36.000000
50%          36.000000
75%          60.000000
max          60.000000
Name: term_int, dtype: float64

 Counter({36: 283172, 60: 137922})

## Missing

In [18]:
na_idx = new_data.isnull().sum()>0
list(new_data.columns.values[na_idx])

['emp_title',
 'emp_length',
 'desc',
 'title',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'revol_util',
 'last_pymnt_d',
 'next_pymnt_d',
 'last_credit_pull_d',
 'mths_since_last_major_derog',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m']

In [19]:
# 'Total revolving high credit/credit limit', so it makes sense that the missing values are equal to funded_amnt.
new_data['total_rev_hi_lim'].fillna(new_data['funded_amnt'], inplace=True)

In [20]:
new_data['acc_now_delinq'].fillna(0, inplace=True)
new_data['total_acc'].fillna(0, inplace=True)
new_data['pub_rec'].fillna(0, inplace=True)
new_data['open_acc'].fillna(0, inplace=True)
new_data['inq_last_6mths'].fillna(0, inplace=True)
new_data['delinq_2yrs'].fillna(0, inplace=True)
new_data['emp_length_int'].fillna(0, inplace=True)
new_data['mths_since_earliest_cr_line'].fillna(0, inplace=True)

In [21]:
new_data['annual_inc'].fillna(new_data['annual_inc'].mean(), inplace=True)

## create Y label

In [22]:
# Good/ Bad Definition
new_data[Y_lab] = np.where(new_data['loan_status'].isin(['Charged Off', 'Default',
                                                       'Does not meet the credit policy. Status:Charged Off',
                                                       'Late (31-120 days)']), 0, 1)

# Feature engineering

In [23]:
data = new_data.copy()

## discrete variable

In [24]:
col = 'home_ownership'
data[col] = data[col].replace(
    ['RENT', 'OTHER', 'NONE', 'ANY'],
    'RENT_OTHER_NONE_ANY')

In [25]:
col = 'addr_state'
group = [["ND", "NE", "IA", "NV" ,"FL", "HI", "AL"], 
         ["NM","VA"],
         ['OK','TN','MO','LA','MD','NC'],
         ['UT','KY','AZ','NJ'],
         ['AR','MI','PA','OH','MN'],
         ['RI','MA','DE','SD','IN'],
         ['GA','WA','OR'],
         ['WI','MT'],
         ['IL','CT'],
         ['KS','SC','CO','VT','AK','MS'],
         ['WV','NH','WY','DC','ME','ID']
        ]

for g in group:
    data[col] = data[col].replace(
    g,
    '_'.join(g))

Counter(data[col])

Counter({'WV_NH_WY_DC_ME_ID': 6463,
         'RI_MA_DE_SD_IN': 20702,
         'KS_SC_CO_VT_AK_MS': 22299,
         'IL_CT': 23191,
         'GA_WA_OR': 27971,
         'NM_VA': 14384,
         'AR_MI_PA_OH_MN': 51750,
         'OK_TN_MO_LA_MD_NC': 44763,
         'NY': 33844,
         'ND_NE_IA_NV_FL_HI_AL': 44293,
         'UT_KY_AZ_NJ': 31843,
         'TX': 34699,
         'CA': 58067,
         'WI_MT': 6825})

In [26]:
col = 'purpose'
group = [['educational','small_business','renewable_energy','moving'],
        ['other','wedding','medical','vacation','house'],
        ['major_purchase','car','home_improvement']]

group_abbr = [['educ','sm_b','ren_en','mov'],
        ['oth','med','vacation','house','wedd'],
        ['major_purch','car','home_impr']]


for i in range(0,3):
    data[col]= data[col].replace(
        group[i],
        '__'.join(group_abbr[i]))
    
Counter(data[col])

Counter({'major_purch__car__home_impr': 36207,
         'credit_card': 102025,
         'debt_consolidation': 250020,
         'oth__med__vacation__house__wedd': 26833,
         'educ__sm_b__ren_en__mov': 6009})

## Continuous Variable

In [27]:
def  continuous_cutter(data, cuts, col, level = 1, dec = 0):
    #cuts should be a list (i) of lists or num (j); for each j, if j = list there are 2 num represent lr,ur
    #eg.cuts=[0,1,[2,5],[6,7],[8,10],10]

    if level==1000: level_cat ='K'
    else: level_cat=''

    temp_list = ['']*data.shape[0]
    #train_temp_list = ['']*X_train.shape[0]
    for i in range(len(cuts)):

        # min
        if i == 0:
            #print('beg')
            if type(cuts[0]) !=list:
                lab = '<=' + str(cuts[0]) + level_cat
                temp_list = np.where(data[col]<=cuts[0]*level, lab, temp_list)
                #train_temp_list = np.where(X_train[col]<=cuts[0]*level, lab, train_temp_list)
            else: 
                lr = cuts[i][0]
                ur = cuts[i][1]
                lab = '-'.join([str(round(lr,dec))+ level_cat , str(round(ur,dec))+ level_cat])
                temp_list = np.where(data[col].between(lr*level,ur*level), lab, temp_list)
                #train_temp_list = np.where(X_train[col].between(lr*level,ur*level), lab, train_temp_list)

                lab = '<' + str(round(lr,dec)) + level_cat
                temp_list = np.where(data[col]<lr*level, lab, temp_list)
                #train_temp_list = np.where(X_train[col]<lr*level, lab, train_temp_list)

        #max
        elif i==(len(cuts)-1):
            #print('max')
            if type(cuts[i]) !=list:
                lab = '>=' + str(round(cuts[-1],dec)) + level_cat
                temp_list = np.where(data[col]>=cuts[-1]*level, lab, temp_list)
                #train_temp_list = np.where(X_train[col]>=cuts[-1]*level, lab, train_temp_list)
            else: 
                lr = cuts[i][0]
                ur = cuts[i][1]
                lab = '-'.join([str(round(lr,dec))+ level_cat , str(round(ur,dec))+ level_cat])
                temp_list = np.where(data[col].between(lr*level,ur*level), lab, temp_list)
                #train_temp_list = np.where(X_train[col].between(lr*level,ur*level), lab, train_temp_list)

                lab = '>' + str(round(ur,dec)) + level_cat
                temp_list = np.where(data[col]>lr*level, lab, temp_list)
                #train_temp_list = np.where(X_train[col]>lr*level, lab, train_temp_list)

        #between
        else:
            #print('bet')
            if type(cuts[i]) !=list:
                lab = '=' + str(cuts[i]) + level_cat
                temp_list = np.where(data[col]==cuts[i]*level, lab, temp_list)
                #train_temp_list = np.where(X_train[col]==cuts[i]*level, lab, train_temp_list)
            else: 
                lr = cuts[i][0]
                ur = cuts[i][1]
                lab = '-'.join([str(round(lr,dec))+ level_cat , str(round(ur,dec))+ level_cat])
                temp_list = np.where(data[col].between(lr*level,ur*level), lab, temp_list)
                #train_temp_list = np.where(X_train[col].between(lr*level,ur*level), lab, train_temp_list)

    # missing value
    temp_list = np.where(temp_list=='', 'Missing', temp_list)
    #train_temp_list = np.where(train_temp_list=='', 'Missing', train_temp_list)
    
    return temp_list#, train_temp_list

In [28]:
col = 'term_int'
data[col] = data[col].astype(str)

In [29]:
col = 'emp_length_int'
cuts=[0,
      1,
     [2,5],
     [6,7],
     [8,10],
     10]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 0 )

data[col]= temp_list
# check
Counter(temp_list)

Counter({'>=10': 141520,
         '<=0': 58157,
         '2-5': 120363,
         '8-10': 38329,
         '=1': 27473,
         '6-7': 35252})

In [30]:
col = 'mths_since_issue_d'
cuts=[38,
      [38.001,40],
     [40.001,42],
     [42.001,49],
     [49.001,53],
     [49.001,53],
     [53.001,65],
     [65.001,85],
     85.001]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 0 )
data[col]= temp_list

# check
Counter(temp_list)

Counter({'<=38': 130503,
         '38.0-40': 64527,
         '40.0-42': 74447,
         '42.0-49': 151617})

In [31]:
col = 'int_rate'
cuts=[[9.548, 12.025],
     [12.026,15.74],
     [15.741,20.281],
     20.282]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 3 )
data[col]= temp_list
# check
Counter(temp_list)

Counter({'9.548-12.025': 76182,
         '<9.548': 117624,
         '12.026-15.74': 134429,
         '>=20.282': 18469,
         '15.741-20.281': 74390})

In [32]:
col = 'funded_amnt'
ij = np.round(np.linspace(start=500, stop=35000, num=50),0)
cuts = [[i,j] for i, j in zip(ij+ np.log(1.0001), ij[1:])]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 0 )

# check
data[col]= temp_list
Counter(temp_list)

Counter({'>35000.0': 20225,
         '8245.0-8949.0': 6188,
         '4020.0-4724.0': 4043,
         '9653.0-10357.0': 32269,
         '19510.0-20214.0': 26362,
         '14582.0-15286.0': 26647,
         '24439.0-25143.0': 14253,
         '3316.0-4020.0': 8980,
         '11765.0-12469.0': 27790,
         '23735.0-24439.0': 13803,
         '10357.0-11061.0': 9480,
         '17398.0-18102.0': 13735,
         '22327.0-23031.0': 3869,
         '8949.0-9653.0': 11781,
         '7541.0-8245.0': 16148,
         '27959.0-28663.0': 9008,
         '1908.0-2612.0': 5751,
         '13878.0-14582.0': 12148,
         '15990.0-16694.0': 14210,
         '29367.0-30071.0': 10532,
         '28663.0-29367.0': 1352,
         '18806.0-19510.0': 5102,
         '4724.0-5429.0': 18214,
         '15286.0-15990.0': 3588,
         '20918.0-21622.0': 8731,
         '6837.0-7541.0': 13996,
         '27255.0-27959.0': 1285,
         '23031.0-23735.0': 1596,
         '11061.0-11765.0': 6032,
         '5429.0-6133.0': 17479,
         '21622.0-22327.0': 3759,
         '18102.0-18806.0': 2881,
         '1204.0-1908.0': 2217,
         '16694.0-17398.0': 6160,
         '33592.0-34296.0': 896,
         '20214.0-20918.0': 2427,
         '30776.0-31480.0': 914,
         '25143.0-25847.0': 1542,
         '2612.0-3316.0': 6849,
         '13173.0-13878.0': 4582,
         '12469.0-13173.0': 8396,
         '32184.0-32888.0': 711,
         '31480.0-32184.0': 2043,
         '32888.0-33592.0': 894,
         '6133.0-6837.0': 5681,
         '25847.0-26551.0': 2266,
         '500.0-1204.0': 1795,
         '30071.0-30776.0': 539,
         '26551.0-27255.0': 1945})

In [33]:
col = 'mths_since_earliest_cr_line'
cuts = [[140.001, 165],
        [165.001, 248],
        [248.001, 271],
        [271.001,353]
        ]


temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 0 )
data[col]= temp_list
# check
Counter(temp_list)

Counter({'>353': 129730,
         '165.0-248': 182443,
         '<140.0': 37493,
         '140.0-165': 37569,
         '248.0-271': 33859})

In [34]:
col = 'delinq_2yrs'
cuts = [0,
        [1,3],
        4]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 0 )
data[col]= temp_list
# check
Counter(temp_list)

Counter({'<=0': 334007, '1-3': 80534, '>=4': 6553})

In [35]:
col = 'inq_last_6mths'
cuts = [0,
        [1,2],
        [3,6],
        7
       ]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 0 )
data[col]= temp_list
# check
Counter(temp_list)

Counter({'<=0': 256407, '1-2': 147638, '3-6': 17049})

In [36]:
col = 'open_acc'
cuts = [0,
        [1,3],
        [4,12],
        [13,17],
        [18,22],
        [23,25],
        [26,30],
        31
       ]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 0 )
data[col]= temp_list
# check
Counter(temp_list)

Counter({'13-17': 99835,
         '4-12': 254430,
         '26-30': 7173,
         '18-22': 40426,
         '>=31': 3675,
         '1-3': 5195,
         '23-25': 10360})

In [37]:
col = 'pub_rec'
cuts=[[0,2],
     [3,4],
     5]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 0 )
data[col]= temp_list
# check
Counter(temp_list)

Counter({'0-2': 416124, '3-4': 3920, '>=5': 1050})

In [38]:
col = 'total_acc'
cuts=[27,
     [28,51],
     52]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 0 )
data[col]= temp_list
# check
Counter(temp_list)

Counter({'28-51': 145715, '<=27': 261827, '>=52': 13552})

In [39]:
col = 'acc_now_delinq'
cuts=[0,
     1]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 0 )
data[col]= temp_list
# check
Counter(temp_list)

Counter({'<=0': 418712, '>=1': 2382})

In [40]:
col = 'total_rev_hi_lim'
cuts=[5,
     [5.0001,10],
     [10.0001,20],
     [20.00001,30],
     [30.00001,40],
     [40.00001,55],
     [55.00001,95],
     95]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1000, dec = 0 )
data[col]= temp_list
# check
Counter(temp_list)

Counter({'40.0K-55K': 49650,
         '20.0K-30K': 85112,
         '<=5K': 13805,
         '10.0K-20K': 110856,
         '30.0K-40K': 55706,
         '5.0K-10K': 43351,
         '>=95K': 17519,
         '55.0K-95K': 45095})

In [41]:
col = 'installment'
ij = np.round(np.linspace(start=14.356, stop=1409.99, num=50),0)
cuts = [[i,j] for i, j in zip(ij+ np.log(1.0001), ij[1:])]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 0 )
data[col]= temp_list
# check
Counter(temp_list)

Counter({'755.0-783.0': 7753,
         '242.0-271.0': 25899,
         '128.0-157.0': 10951,
         '214.0-242.0': 17732,
         '413.0-442.0': 13185,
         '470.0-499.0': 18965,
         '100.0-128.0': 8595,
         '385.0-413.0': 18557,
         '442.0-470.0': 17361,
         '499.0-527.0': 15090,
         '271.0-299.0': 21054,
         '584.0-612.0': 9467,
         '299.0-328.0': 29735,
         '812.0-840.0': 4183,
         '840.0-869.0': 5301,
         '71.0-100.0': 6425,
         '527.0-556.0': 13245,
         '356.0-385.0': 22817,
         '556.0-584.0': 11121,
         '328.0-356.0': 24292,
         '1040.0-1068.0': 1000,
         '612.0-641.0': 11738,
         '157.0-185.0': 18194,
         '669.0-698.0': 9315,
         '641.0-669.0': 10003,
         '726.0-755.0': 6601,
         '783.0-812.0': 6437,
         '954.0-983.0': 2130,
         '185.0-214.0': 18145,
         '698.0-726.0': 5285,
         '43.0-71.0': 4566,
         '1068.0-1097.0': 2110,
         '926.0-954.0': 2577,
         '1182.0-1211.0': 1802,
         '897.0-926.0': 2669,
         '1097.0-1125.0': 1598,
         '1154.0-1182.0': 1687,
         '1239.0-1268.0': 1128,
         '869.0-897.0': 4757,
         '1211.0-1239.0': 585,
         '14.0-43.0': 1773,
         '1011.0-1040.0': 1291,
         '1125.0-1154.0': 1371,
         '983.0-1011.0': 2005,
         '1268.0-1296.0': 464,
         '1353.0-1382.0': 20,
         '1296.0-1325.0': 78,
         '>1410.0': 10,
         '1325.0-1353.0': 27})

In [42]:
col = 'annual_inc'
cuts=[20,
     [20.00001,30],
     [30.00001,40],
     [20.00001,50],
     [50.00001,60],
     [60.00001,70],
     [70.00001,80],
     [80.00001,90],
     [90.00001,100],
     [100.00001,120],
     [120.00001,140],
     140]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1000, dec = 0 )

# check
Counter(temp_list)
data[col]= temp_list

In [43]:
col = 'mths_since_last_delinq'
cuts=[[0,3],
     [4,30],
     [31,56],
     57]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 0 )
data[col]= temp_list
# check
Counter(temp_list)

Counter({'31-56': 66139,
         'Missing': 203961,
         '4-30': 100930,
         '>=57': 42803,
         '0-3': 7261})

In [44]:
col = 'dti'
cuts=[1.4,
      [1.41,3.5],
     [3.51,7.7],
     [7.71,10.5],
     [10.51,16.1],
     [16.11,20.3],
     [20.31,21.7],
     [21.71,22.4],
     [22.41,35],
     35.01]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 1 )
data[col]= temp_list
# check
Counter(temp_list)

Counter({'3.5-7.7': 30805,
         '10.5-16.1': 92579,
         '22.4-35': 130422,
         '7.7-10.5': 34187,
         '16.1-20.3': 74060,
         '20.3-21.7': 22837,
         '21.7-22.4': 10849,
         '>=35.0': 16923,
         '1.4-3.5': 6609,
         '<=1.4': 1823})

In [45]:
col = 'mths_since_last_record'
cuts=[[0,2],
      [3,20],
     [21,31],
     [32,80],
     [81,86],
     86.01]

temp_list = continuous_cutter(data, cuts = cuts, col= col, level = 1, dec = 0 )
data[col]= temp_list
# check
Counter(temp_list)

Counter({'Missing': 346679,
         '32-80': 46908,
         '21-31': 3723,
         '0-2': 87,
         '3-20': 3099,
         '>=86.0': 15212,
         '81-86': 5386})

# prepare data

## create dummy (new data)

### new data

In [46]:
# get dummies
data_dummies = pd.concat(
    [pd.get_dummies(data[c], prefix = c, prefix_sep = col_sep) for c in parent_col],
    axis = 1)
    
# concat data
new_data = pd.concat([data, data_dummies], axis = 1)

In [47]:
# check what dummis that appear in old data are missing in the new data
idx = [d not in new_data.columns.values.tolist() for d in dummy_names]
miss_col = np.array(dummy_names)[idx].tolist()
miss_col

['mths_since_issue_d:49.0-53',
 'mths_since_issue_d:53.0-65',
 'mths_since_issue_d:65.0-85',
 'mths_since_issue_d:>=85.0',
 'inq_last_6mths:>=7',
 'open_acc:<=0']

In [48]:
# insert the missing dummies
for c in miss_col:
    new_data[c] = 0

In [49]:
new_data_backup = new_data.copy() # later save use, ie. if we want to fit model use this data, no need to clean again

## select and insert columns

In [50]:
# intercept
old_data.insert(0, 'Intercept', 1)
new_data.insert(0, 'Intercept', 1)

In [51]:
score_card

,group,value,feature,credit_score,coefficient,p_value
0,Intercept,NaN,Intercept,309.0,-1.726363,NaN
3,addr_state,AR_MI_PA_OH_MN,addr_state:AR_MI_PA_OH_MN,12.0,0.155171,4.474558e-12
4,addr_state,CA,addr_state:CA,7.0,0.095189,6.767859e-06
5,addr_state,GA_WA_OR,addr_state:GA_WA_OR,14.0,0.190961,6.021733e-13
6,addr_state,IL_CT,addr_state:IL_CT,22.0,0.291465,1.910721e-23
7,addr_state,KS_SC_CO_VT_AK_MS,addr_state:KS_SC_CO_VT_AK_MS,26.0,0.343183,7.813634e-29
85,addr_state,ND_NE_IA_NV_FL_HI_AL,addr_state:ND_NE_IA_NV_FL_HI_AL,0.0,0.000000,NaN
8,addr_state,NM_VA,addr_state:NM_VA,7.0,0.093430,3.773944e-03
9,addr_state,NY,addr_state:NY,5.0,0.061618,1.044822e-02
10,addr_state,OK_TN_MO_LA_MD_NC,addr_state:OK_TN_MO_LA_MD_NC,7.0,0.091401,7.751581e-05
11,addr_state,RI_MA_DE_SD_IN,addr_state:RI_MA_DE_SD_IN,8.0,0.105716,3.826752e-04
12,addr_state,TX,addr_state:TX,18.0,0.244546,3.179921e-21
13,addr_state,UT_KY_AZ_NJ,addr_state:UT_KY_AZ_NJ,7.0,0.095624,1.139271e-04
14,addr_state,WI_MT,addr_state:WI_MT,21.0,0.273229,1.038536e-08
15,addr_state,WV_NH_WY_DC_ME_ID,addr_state:WV_NH_WY_DC_ME_ID,38.0,0.505818,3.969760e-22
56,annual_inc,100.0K-120K,annual_inc:100.0K-120K,35.0,0.462235,1.268794e-23
57,annual_inc,120.0K-140K,annual_inc:120.0K-140K,41.0,0.547455,5.354560e-24
58,annual_inc,20.0K-50K,annual_inc:20.0K-50K,2.0,0.025631,5.098438e-01
59,annual_inc,50.0K-60K,annual_inc:50.0K-60K,11.0,0.141928,5.480215e-04
60,annual_inc,60.0K-70K,annual_inc:60.0K-70K,19.0,0.246944,4.504035e-09
61,annual_inc,70.0K-80K,annual_inc:70.0K-80K,23.0,0.300361,2.746611e-12
62,annual_inc,80.0K-90K,annual_inc:80.0K-90K,29.0,0.384675,9.808950e-18
63,annual_inc,90.0K-100K,annual_inc:90.0K-100K,29.0,0.380283,2.213157e-16
97,annual_inc,<=20K,annual_inc:<=20K,0.0,0.000000,NaN
64,annual_inc,>=140K,annual_inc:>=140K,37.0,0.486625,2.614521e-24
69,dti,1.4-3.5,dti:1.4-3.5,25.0,0.327195,3.395844e-14
70,dti,10.5-16.1,dti:10.5-16.1,14.0,0.189087,3.238745e-33
71,dti,16.1-20.3,dti:16.1-20.3,8.0,0.111863,3.648063e-12
72,dti,20.3-21.7,dti:20.3-21.7,7.0,0.087939,2.487204e-04
73,dti,21.7-22.4,dti:21.7-22.4,2.0,0.021842,5.036010e-01
99,dti,22.4-35,dti:22.4-35,0.0,0.000000,NaN
74,dti,3.5-7.7,dti:3.5-7.7,23.0,0.311760,1.062946e-40
75,dti,7.7-10.5,dti:7.7-10.5,19.0,0.253372,2.153582e-30
76,dti,<=1.4,dti:<=1.4,20.0,0.267252,3.459816e-05
77,dti,>=35.0,dti:>=35.0,-5.0,-0.063399,3.106392e-01
24,emp_length_int,2-5,emp_length_int:2-5,10.0,0.126428,2.191814e-12
25,emp_length_int,6-7,emp_length_int:6-7,6.0,0.084619,1.083353e-04
26,emp_length_int,8-10,emp_length_int:8-10,5.0,0.062769,8.048104e-03
90,emp_length_int,<=0,emp_length_int:<=0,0.0,0.000000,NaN
27,emp_length_int,=1,emp_length_int:=1,10.0,0.135907,1.823418e-07
28,emp_length_int,>=10,emp_length_int:>=10,11.0,0.139490,2.837745e-14
1,home_ownership,MORTGAGE,home_ownership:MORTGAGE,9.0,0.122089,5.811267e-22
2,home_ownership,OWN,home_ownership:OWN,6.0,0.073694,2.325536e-04
84,home_ownership,RENT_OTHER_NONE_ANY,home_ownership:RENT_OTHER_NONE_ANY,0.0,0.000000,NaN
88,initial_list_status,f,initial_list_status:f,0.0,0.000000,NaN
22,initial_list_status,w,initial_list_status:w,4.0,0.053604,4.098664e-05
44,inq_last_6mths,1-2,inq_last_6mths:1-2,51.0,0.679189,3.307487e-18
45,inq_last_6mths,3-6,inq_last_6mths:3-6,36.0,0.471898,2.079237e-09
46,inq_last_6mths,<=0,inq_last_6mths:<=0,63.0,0.831405,2.213718e-26
94,inq_last_6mths,>=7,inq_last_6mths:>=7,0.0,0.000000,NaN
36,int_rate,12.026-15.74,int_rate:12.026-15.74,60.0,0.803078,0.000000e+00
37,int_rate,15.741-20.281,int_rate:15.741-20.281,29.0,0.379387,2.544248e-101
38,int_rate,9.548-12.025,int_rate:9.548-12.025,91.0,1.203335,0.000000e+00
39,int_rate,<9.548,int_rate:<9.548,133.0,1.761138,0.000000e+00
92,int_rate,>=20.282,int_rate:>=20.282,0.0,0.000000,NaN
40,mths_since_earliest_cr_line,140.0-165,mths_since_earliest_cr_line:140.0-165,4.0,0.056877,2.308144e-02
41,mths_since_earliest_cr_line,165.0-248,mths_since_earliest_cr_line:165.0-248,2.0,0.029045,1.526378e-01
42,mths_since_earliest_cr_line,248.0-271,mths_since_earliest_cr_line:248.0-271,4.0,0.054340,4.039756e-02
93,mths_since_earliest_cr_line,<140.0,mths_since_earliest_cr_line:<140.0,0.0,0.000000,NaN
43,mths_since_earliest_cr_line,>353,mths_since_earliest_cr_line:>353,8.0,0.106008,2.870244e-06
29,mths_since_issue_d,38.0-40,mths_since_issue_d:38.0-40,65.0,0.862149,1.056893e-116
30,mths_since_issue_d,40.0-42,mths_since_issue_d:40.0-42,57.0,0.753458,4.399225e-109
31,mths_since_issue_d,42.0-49,mths_since_issue_d:42.0-49,47.0,0.622526,4.148086e-97
32,mths_since_issue_d,49.0-53,mths_since_issue_d:49.0-53,37.0,0.497897,1.405580e-56
33,mths_since_issue_d,53.0-65,mths_since_issue_d:53.0-65,21.0,0.280586,7.706564e-22
34,mths_since_issue_d,65.0-85,mths_since_issue_d:65.0-85,1.0,0.010321,7.277988e-01
35,mths_since_issue_d,<=38,mths_since_issue_d:<=38,77.0,1.018694,7.563213e-205
91,mths_since_issue_d,>=85.0,mths_since_issue_d:>=85.0,0.0,0.000000,NaN
98,mths_since_last_delinq,0-3,mths_since_last_delinq:0-3,0.0,0.000000,NaN
65,mths_since_last_delinq,31-56,mths_since_last_delinq:31-56,10.0,0.132512,4.638133e-03
66,mths_since_last_delinq,4-30,mths_since_last_delinq:4-30,7.0,0.095342,3.832215e-02
67,mths_since_last_delinq,>=57,mths_since_last_delinq:>=57,7.0,0.094919,4.920764e-02
68,mths_since_last_delinq,Missing,mths_since_last_delinq:Missing,30.0,0.067933,1.351152e-01
100,mths_since_last_record,0-2,mths_since_last_record:0-2,0.0,0.000000,NaN
78,mths_since_last_record,21-31,mths_since_last_record:21-31,48.0,0.639673,1.116410e-08
79,mths_since_last_record,3-20,mths_since_last_record:3-20,49.0,0.649617,6.744163e-08
80,mths_since_last_record,32-80,mths_since_last_record:32-80,55.0,0.735146,9.303082e-19
81,mths_since_last_record,81-86,mths_since_last_record:81-86,31.0,0.408056,5.057653e-05
82,mths_since_last_record,>=86.0,mths_since_last_record:>=86.0,34.0,0.447421,4.327241e-08
83,mths_since_last_record,Missing,mths_since_last_record:Missing,39.0,0.519712,3.659865e-11
18,purpose,credit_card,purpose:credit_card,36.0,0.476313,1.483606e-52
19,purpose,debt_consolidation,purpose:debt_consolidation,28.0,0.365345,4.739630e-36
87,purpose,educ__sm_b__ren_en__mov,purpose:educ__sm_b__ren_en__mov,0.0,0.000000,NaN
20,purpose,major_purch__car__home_impr,purpose:major_purch__car__home_impr,33.0,0.443315,4.785052e-39
21,purpose,oth__med__vacation__house__wedd,purpose:oth__med__vacation__house__wedd,28.0,0.375325,3.520801e-30
23,term_int,36,term_int:36,7.0,0.092627,2.673467e-11
89,term_int,60,term_int:60,0.0,0.000000,NaN
47,total_acc,28-51,total_acc:28-51,-4.0,-0.047410,2.586735e-04
95,total_acc,<=27,total_acc:<=27,0.0,0.000000,NaN
48,total_acc,>=52,total_acc:>=52,-3.0,-0.038522,2.837497e-01
49,total_rev_hi_lim,10.0K-20K,total_rev_hi_lim:10.0K-20K,1.0,0.018276,4.360115e-01
50,total_rev_hi_lim,20.0K-30K,total_rev_hi_lim:20.0K-30K,3.0,0.045595,7.627529e-02
51,total_rev_hi_lim,30.0K-40K,total_rev_hi_lim:30.0K-40K,2.0,0.025608,3.736560e-01
52,total_rev_hi_lim,40.0K-55K,total_rev_hi_lim:40.0K-55K,6.0,0.074478,1.798981e-02
53,total_rev_hi_lim,5.0K-10K,total_rev_hi_lim:5.0K-10K,3.0,0.035943,1.395669e-01
54,total_rev_hi_lim,55.0K-95K,total_rev_hi_lim:55.0K-95K,6.0,0.077596,2.691421e-02
96,total_rev_hi_lim,<=5K,total_rev_hi_lim:<=5K,0.0,0.000000,NaN
55,total_rev_hi_lim,>=95K,total_rev_hi_lim:>=95K,19.0,0.253853,5.568588e-06
16,verification_status,Not Verified,verification_status:Not Verified,6.0,0.085730,5.099391e-09
17,verification_status,Source Verified,verification_status:Source Verified,-0.0,-0.003721,7.821732e-01
86,verification_status,Verified,verification_status:Verified,0.0,0.000000,NaN

In [52]:
# select only features that appears in score card
idx = score_card.feature.tolist()
old_data = old_data[idx]
new_data = new_data[idx]

## score card reshape

In [53]:
credit_score = score_card.credit_score.values
credit_score = credit_score.reshape((len(credit_score),1))
credit_score.shape

(101, 1)

## calculate credit score

In [54]:
old_data['score'] = old_data.dot(credit_score)
new_data['score'] = new_data.dot(credit_score)

## create score categories in data

In [55]:
ij = np.linspace(300,850, 12)
categories = [[int(i),int(j)] for i, j in zip(ij + 1, ij[1:]) ]
categories[0][0] = 300

for i in categories:
    cat = 'score:' + '-'.join([str(i[0]),str(i[1])])
    old_data[cat] = np.where(old_data['score'].between(i[0],i[1]),1,0)
    new_data[cat] = np.where(new_data['score'].between(i[0],i[1]),1,0)

In [56]:
old_data.head()

,Intercept,addr_state:AR_MI_PA_OH_MN,addr_state:CA,addr_state:GA_WA_OR,addr_state:IL_CT,addr_state:KS_SC_CO_VT_AK_MS,addr_state:ND_NE_IA_NV_FL_HI_AL,addr_state:NM_VA,addr_state:NY,addr_state:OK_TN_MO_LA_MD_NC,addr_state:RI_MA_DE_SD_IN,addr_state:TX,addr_state:UT_KY_AZ_NJ,addr_state:WI_MT,addr_state:WV_NH_WY_DC_ME_ID,annual_inc:100.0K-120K,annual_inc:120.0K-140K,annual_inc:20.0K-50K,annual_inc:50.0K-60K,annual_inc:60.0K-70K,annual_inc:70.0K-80K,annual_inc:80.0K-90K,annual_inc:90.0K-100K,annual_inc:<=20K,annual_inc:>=140K,dti:1.4-3.5,dti:10.5-16.1,dti:16.1-20.3,dti:20.3-21.7,dti:21.7-22.4,dti:22.4-35,dti:3.5-7.7,dti:7.7-10.5,dti:<=1.4,dti:>=35.0,emp_length_int:2-5,emp_length_int:6-7,emp_length_int:8-10,emp_length_int:<=0,emp_length_int:=1,emp_length_int:>=10,home_ownership:MORTGAGE,home_ownership:OWN,home_ownership:RENT_OTHER_NONE_ANY,initial_list_status:f,initial_list_status:w,inq_last_6mths:1-2,inq_last_6mths:3-6,inq_last_6mths:<=0,inq_last_6mths:>=7,int_rate:12.026-15.74,int_rate:15.741-20.281,int_rate:9.548-12.025,int_rate:<9.548,int_rate:>=20.282,mths_since_earliest_cr_line:140.0-165,mths_since_earliest_cr_line:165.0-248,mths_since_earliest_cr_line:248.0-271,mths_since_earliest_cr_line:<140.0,mths_since_earliest_cr_line:>353,mths_since_issue_d:38.0-40,mths_since_issue_d:40.0-42,mths_since_issue_d:42.0-49,mths_since_issue_d:49.0-53,mths_since_issue_d:53.0-65,mths_since_issue_d:65.0-85,mths_since_issue_d:<=38,mths_since_issue_d:>=85.0,mths_since_last_delinq:0-3,mths_since_last_delinq:31-56,mths_since_last_delinq:4-30,mths_since_last_delinq:>=57,mths_since_last_delinq:Missing,mths_since_last_record:0-2,mths_since_last_record:21-31,mths_since_last_record:3-20,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86.0,mths_since_last_record:Missing,purpose:credit_card,purpose:debt_consolidation,purpose:educ__sm_b__ren_en__mov,purpose:major_purch__car__home_impr,purpose:oth__med__vacation__house__wedd,term_int:36,term_int:60,total_acc:28-51,total_acc:<=27,total_acc:>=52,total_rev_hi_lim:10.0K-20K,total_rev_hi_lim:20.0K-30K,total_rev_hi_lim:30.0K-40K,total_rev_hi_lim:40.0K-55K,total_rev_hi_lim:5.0K-10K,total_rev_hi_lim:55.0K-95K,total_rev_hi_lim:<=5K,total_rev_hi_lim:>=95K,verification_status:Not Verified,verification_status:Source Verified,verification_status:Verified,score,score:300-350,score:351-400,score:401-450,score:451-500,score:501-550,score:551-600,score:601-650,score:651-700,score:701-750,score:751-800,score:801-850
279464,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,709.0,0,0,0,0,0,0,0,0,1,0,0
341098,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,618.0,0,0,0,0,0,0,1,0,0,0,0
435552,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,614.0,0,0,0,0,0,0,1,0,0,0,0
34346,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,624.0,0,0,0,0,0,0,1,0,0,0,0
54308,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,592.0,0,0,0,0,0,1,0,0,0,0,0

In [57]:
new_data.head()

,Intercept,addr_state:AR_MI_PA_OH_MN,addr_state:CA,addr_state:GA_WA_OR,addr_state:IL_CT,addr_state:KS_SC_CO_VT_AK_MS,addr_state:ND_NE_IA_NV_FL_HI_AL,addr_state:NM_VA,addr_state:NY,addr_state:OK_TN_MO_LA_MD_NC,addr_state:RI_MA_DE_SD_IN,addr_state:TX,addr_state:UT_KY_AZ_NJ,addr_state:WI_MT,addr_state:WV_NH_WY_DC_ME_ID,annual_inc:100.0K-120K,annual_inc:120.0K-140K,annual_inc:20.0K-50K,annual_inc:50.0K-60K,annual_inc:60.0K-70K,annual_inc:70.0K-80K,annual_inc:80.0K-90K,annual_inc:90.0K-100K,annual_inc:<=20K,annual_inc:>=140K,dti:1.4-3.5,dti:10.5-16.1,dti:16.1-20.3,dti:20.3-21.7,dti:21.7-22.4,dti:22.4-35,dti:3.5-7.7,dti:7.7-10.5,dti:<=1.4,dti:>=35.0,emp_length_int:2-5,emp_length_int:6-7,emp_length_int:8-10,emp_length_int:<=0,emp_length_int:=1,emp_length_int:>=10,home_ownership:MORTGAGE,home_ownership:OWN,home_ownership:RENT_OTHER_NONE_ANY,initial_list_status:f,initial_list_status:w,inq_last_6mths:1-2,inq_last_6mths:3-6,inq_last_6mths:<=0,inq_last_6mths:>=7,int_rate:12.026-15.74,int_rate:15.741-20.281,int_rate:9.548-12.025,int_rate:<9.548,int_rate:>=20.282,mths_since_earliest_cr_line:140.0-165,mths_since_earliest_cr_line:165.0-248,mths_since_earliest_cr_line:248.0-271,mths_since_earliest_cr_line:<140.0,mths_since_earliest_cr_line:>353,mths_since_issue_d:38.0-40,mths_since_issue_d:40.0-42,mths_since_issue_d:42.0-49,mths_since_issue_d:49.0-53,mths_since_issue_d:53.0-65,mths_since_issue_d:65.0-85,mths_since_issue_d:<=38,mths_since_issue_d:>=85.0,mths_since_last_delinq:0-3,mths_since_last_delinq:31-56,mths_since_last_delinq:4-30,mths_since_last_delinq:>=57,mths_since_last_delinq:Missing,mths_since_last_record:0-2,mths_since_last_record:21-31,mths_since_last_record:3-20,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86.0,mths_since_last_record:Missing,purpose:credit_card,purpose:debt_consolidation,purpose:educ__sm_b__ren_en__mov,purpose:major_purch__car__home_impr,purpose:oth__med__vacation__house__wedd,term_int:36,term_int:60,total_acc:28-51,total_acc:<=27,total_acc:>=52,total_rev_hi_lim:10.0K-20K,total_rev_hi_lim:20.0K-30K,total_rev_hi_lim:30.0K-40K,total_rev_hi_lim:40.0K-55K,total_rev_hi_lim:5.0K-10K,total_rev_hi_lim:55.0K-95K,total_rev_hi_lim:<=5K,total_rev_hi_lim:>=95K,verification_status:Not Verified,verification_status:Source Verified,verification_status:Verified,score,score:300-350,score:351-400,score:401-450,score:451-500,score:501-550,score:551-600,score:601-650,score:651-700,score:701-750,score:751-800,score:801-850
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
68444620,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,1,0,758.0,0,0,0,0,0,0,0,0,0,1,0
68547583,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,778.0,0,0,0,0,0,0,0,0,0,1,0
67849662,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,646.0,0,0,0,0,0,0,1,0,0,0,0
68506885,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,659.0,0,0,0,0,0,0,0,1,0,0,0
68341763,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,730.0,0,0,0,0,0,0,0,0,1,0,0

# PSI: Population Stability Index: Calculation and Interpretation

## prepare

In [58]:
idx = [c not in ['Intercept', 'score'] for c in old_data.columns.to_list() ]# drop intercept and score
old_data_percent = old_data.loc[:,idx].mean() 
new_data_percent = new_data.loc[:,idx].mean() 

cal_psi = pd.concat([old_data_percent, new_data_percent] ,axis= 1, )
cal_psi.columns = ['percentage_old', 'percentage_new']
cal_psi = cal_psi.reset_index()
cal_psi['feature_group'] = cal_psi['index'].str.split(':').str[0]

## PSI calculation

In [59]:
## PSI calculate
old = cal_psi['percentage_old']
new = cal_psi['percentage_new']
cal_psi['contribution'] = np.where((old == 0) | (new == 0), 0, (new - old) * np.log(new / old))

cal_psi.sort_values('contribution', ascending= False)

/Users/warren/opt/anaconda3/envs/credit_risk/lib/python3.8/site-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,index,percentage_old,percentage_new,feature_group,contribution
44,initial_list_status:w,0.350097,0.634659,initial_list_status,0.169279
43,initial_list_status:f,0.649903,0.365341,initial_list_status,0.163905
65,mths_since_issue_d:<=38,0.158787,0.309914,mths_since_issue_d,0.101064
104,score:501-550,0.087728,0.020941,score,0.095676
59,mths_since_issue_d:38.0-40,0.063100,0.153237,mths_since_issue_d,0.079975
108,score:701-750,0.102775,0.208063,score,0.074259
105,score:551-600,0.256522,0.145454,score,0.063015
33,dti:>=35.0,0.007678,0.040188,dti,0.053813
60,mths_since_issue_d:40.0-42,0.099966,0.176794,mths_since_issue_d,0.043805
52,int_rate:<9.548,0.179893,0.279330,int_rate,0.043755
61,mths_since_issue_d:42.0-49,0.246979,0.360055,mths_since_issue_d,0.042625
109,score:751-800,0.024993,0.064083,score,0.036807
75,mths_since_last_record:32-80,0.060127,0.111396,mths_since_last_record,0.031614
98,verification_status:Source Verified,0.320973,0.426425,verification_status,0.029957
46,inq_last_6mths:3-6,0.078072,0.040487,inq_last_6mths,0.024679
53,int_rate:>=20.282,0.078884,0.043860,int_rate,0.020559
103,score:451-500,0.007056,0.000344,score,0.020268
95,total_rev_hi_lim:<=5K,0.060505,0.032784,total_rev_hi_lim,0.016987
93,total_rev_hi_lim:5.0K-10K,0.146501,0.102949,total_rev_hi_lim,0.015366
47,inq_last_6mths:<=0,0.517996,0.608907,inq_last_6mths,0.014700
99,verification_status:Verified,0.360565,0.292134,verification_status,0.014402
107,score:651-700,0.200819,0.257707,score,0.014189
94,total_rev_hi_lim:55.0K-95K,0.074295,0.107090,total_rev_hi_lim,0.011991
50,int_rate:15.741-20.281,0.224450,0.176659,int_rate,0.011443
29,dti:22.4-35,0.255533,0.309722,dti,0.010422
96,total_rev_hi_lim:>=95K,0.024164,0.041604,total_rev_hi_lim,0.009475
85,term_int:60,0.275347,0.327533,term_int,0.009057
35,emp_length_int:6-7,0.112268,0.083715,emp_length_int,0.008379
77,mths_since_last_record:>=86.0,0.054921,0.036125,mths_since_last_record,0.007874
45,inq_last_6mths:1-2,0.402959,0.350606,inq_last_6mths,0.007286
72,mths_since_last_record:0-2,0.002815,0.000207,mths_since_last_record,0.006812
92,total_rev_hi_lim:40.0K-55K,0.093803,0.117907,total_rev_hi_lim,0.005513
71,mths_since_last_delinq:Missing,0.537045,0.484360,mths_since_last_delinq,0.005440
97,verification_status:Not Verified,0.318461,0.281441,verification_status,0.004575
81,purpose:educ__sm_b__ren_en__mov,0.023081,0.014270,purpose,0.004237
84,term_int:36,0.724653,0.672467,term_int,0.003900
76,mths_since_last_record:81-86,0.006731,0.012790,mths_since_last_record,0.003889
25,dti:10.5-16.1,0.249818,0.219854,dti,0.003829
41,home_ownership:OWN,0.089610,0.108684,home_ownership,0.003681
30,dti:3.5-7.7,0.090312,0.073155,dti,0.003615
89,total_rev_hi_lim:10.0K-20K,0.291544,0.263257,total_rev_hi_lim,0.002887
69,mths_since_last_delinq:4-30,0.214574,0.239685,mths_since_last_delinq,0.002779
49,int_rate:12.026-15.74,0.349470,0.319238,int_rate,0.002735
31,dti:7.7-10.5,0.096403,0.081186,dti,0.002614
23,annual_inc:>=140K,0.064735,0.078021,annual_inc,0.002480
70,mths_since_last_delinq:>=57,0.086993,0.101647,mths_since_last_delinq,0.002281
32,dti:<=1.4,0.007919,0.004329,dti,0.002168
83,purpose:oth__med__vacation__house__wedd,0.075981,0.063722,purpose,0.002157
78,mths_since_last_record:Missing,0.865769,0.823282,mths_since_last_record,0.002138
91,total_rev_hi_lim:30.0K-40K,0.116474,0.132289,total_rev_hi_lim,0.002014
37,emp_length_int:<=0,0.122479,0.138109,emp_length_int,0.001877
56,mths_since_earliest_cr_line:248.0-271,0.092950,0.080407,mths_since_earliest_cr_line,0.001818
74,mths_since_last_record:3-20,0.004214,0.007359,mths_since_last_record,0.001754
73,mths_since_last_record:21-31,0.005423,0.008841,mths_since_last_record,0.001671
1,addr_state:CA,0.153015,0.137896,addr_state,0.001573
79,purpose:credit_card,0.223203,0.242286,purpose,0.001565
24,dti:1.4-3.5,0.020647,0.015695,dti,0.001358
16,annual_inc:20.0K-50K,0.322767,0.302548,annual_inc,0.001308
51,int_rate:9.548-12.025,0.167304,0.180914,int_rate,0.001065
106,score:601-650,0.319547,0.302165,score,0.000972
110,score:801-850,0.000416,0.001242,score,0.000905
26,dti:16.1-20.3,0.188313,0.175875,dti,0.000850
88,total_acc:>=52,0.027207,0.032183,total_acc,0.000836
68,mths_since_last_delinq:31-56,0.147000,0.157065,mths_since_last_delinq,0.000667
39,emp_length_int:>=10,0.322300,0.336077,emp_length_int,0.000577
67,mths_since_last_delinq:0-3,0.014388,0.017243,mths_since_last_delinq,0.000517
14,annual_inc:100.0K-120K,0.070761,0.076921,annual_inc,0.000514
15,annual_inc:120.0K-140K,0.031373,0.035291,annual_inc,0.000461
54,mths_since_earliest_cr_line:140.0-165,0.082980,0.089218,mths_since_earliest_cr_line,0.000452
90,total_rev_hi_lim:20.0K-30K,0.192715,0.202121,total_rev_hi_lim,0.000448
7,addr_state:NY,0.086444,0.080372,addr_state,0.000442
8,addr_state:OK_TN_MO_LA_MD_NC,0.100041,0.106302,addr_state,0.000380
40,home_ownership:MORTGAGE,0.506557,0.493196,home_ownership,0.000357
5,addr_state:ND_NE_IA_NV_FL_HI_AL,0.099751,0.105186,addr_state,0.000288
4,addr_state:KS_SC_CO_VT_AK_MS,0.049144,0.052955,addr_state,0.000285
57,mths_since_earliest_cr_line:<140.0,0.084200,0.089037,mths_since_earliest_cr_line,0.000270
58,mths_since_earliest_cr_line:>353,0.299160,0.308078,mths_since_earliest_cr_line,0.000262
0,addr_state:AR_MI_PA_OH_MN,0.117471,0.122894,addr_state,0.000245
36,emp_length_int:8-10,0.086409,0.091022,emp_length_int,0.000240
10,addr_state:TX,0.078423,0.082402,addr_state,0.000197
87,total_acc:<=27,0.632743,0.621778,total_acc,0.000192
34,emp_length_int:2-5,0.293168,0.285834,emp_length_int,0.000186
17,annual_inc:50.0K-60K,0.142426,0.137352,annual_inc,0.000184
82,purpose:major_purch__car__home_impr,0.089744,0.085983,purpose,0.000161
11,addr_state:UT_KY_AZ_NJ,0.078895,0.075620,addr_state,0.000139
55,mths_since_earliest_cr_line:165.0-248,0.440710,0.433260,mths_since_earliest_cr_line,0.000127
27,dti:20.3-21.7,0.056846,0.054233,dti,0.000123
6,addr_state:NM_VA,0.036185,0.034159,addr_state,0.000117
9,addr_state:RI_MA_DE_SD_IN,0.046887,0.049162,addr_state,0.000108
86,total_acc:28-51,0.340050,0.346039,total_acc,0.000105
21,annual_inc:90.0K-100K,0.060912,0.063228,annual_inc,0.000086
42,home_ownership:RENT_OTHER_NONE_ANY,0.403833,0.398120,home_ownership,0.000081
80,purpose:debt_consolidation,0.587991,0.593739,purpose,0.000056
38,emp_length_int:=1,0.063376,0.065242,emp_length_int,0.000054
22,annual_inc:<=20K,0.015079,0.014294,annual_inc,0.000042
28,dti:21.7-22.4,0.026532,0.025764,dti,0.000023
12,addr_state:WI_MT,0.015629,0.016208,addr_state,0.000021
18,annual_inc:60.0K-70K,0.115946,0.114457,annual_inc,0.000019
19,annual_inc:70.0K-80K,0.100727,0.101963,annual_inc,0.000015
2,addr_state:GA_WA_OR,0.067258,0.066425,addr_state,0.000010
20,annual_inc:80.0K-90K,0.075273,0.075926,annual_inc,0.000006
13,addr_state:WV_NH_WY_DC_ME_ID,0.015511,0.015348,addr_state,0.000002
3,addr_state:IL_CT,0.055347,0.055073,addr_state,0.000001
62,mths_since_issue_d:49.0-53,0.110911,0.000000,mths_since_issue_d,0.000000
63,mths_since_issue_d:53.0-65,0.189643,0.000000,mths_since_issue_d,0.000000
101,score:351-400,0.000003,0.000000,score,0.000000
48,inq_last_6mths:>=7,0.000973,0.000000,inq_last_6mths,0.000000
102,score:401-450,0.000142,0.000000,score,0.000000
100,score:300-350,0.000000,0.000000,score,0.000000
64,mths_since_issue_d:65.0-85,0.091452,0.000000,mths_since_issue_d,0.000000
66,mths_since_issue_d:>=85.0,0.039163,0.000000,mths_since_issue_d,0.000000

## PSI
measure how much alike two samples are

PSI = (% of records based on scoring variable in Sample (A) - % of records based on scoring variable in Sample (B)) * In(A/ B)

In [60]:
PSI = cal_psi.groupby('feature_group')['contribution'].sum()
PSI

feature_group
addr_state                     0.003808
annual_inc                     0.005116
dti                            0.078814
emp_length_int                 0.011313
home_ownership                 0.004119
initial_list_status            0.333184
inq_last_6mths                 0.046666
int_rate                       0.079557
mths_since_earliest_cr_line    0.002929
mths_since_issue_d             0.267468
mths_since_last_delinq         0.011684
mths_since_last_record         0.055751
purpose                        0.008176
score                          0.306092
term_int                       0.012958
total_acc                      0.001132
total_rev_hi_lim               0.064680
verification_status            0.048934
Name: contribution, dtype: float64

psi<0.1 = no difference
psi between 0.1-0.25 =  acceptable difference
psi > 0.25 = big difference
psi == 1 = absolute difference